* {	box-sizing: border-box;}

@mixin desktop {
    @media (max-width: 1200px) {
        @content;
    }    
} 

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }    
}

@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }    
} 

:root { font-size: 14px;
}

$primary: #427909;
$secondary: #358b3b;
$red: #ca261b;
$white: #ffffff;
$black: #000000;
$gray: #808080;
$loginBtn: #4CAF50;

/*Todos*/
body {
    font-family: "Merriweather", serif;
	font-size: 1rem;
	background: -webkit-linear-gradient(right, $primary, $secondary);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Fira Sans", sans-serif;
	text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
	color: $black;
    font-size: 2rem;
    @include tablet{
        font-size: 1.5rem;
    }
    @include mobile {
        font-size: 0.9rem;
    }
}

p {
	text-align: justify;
    margin-bottom: 1rem;
	color: $black;
	line-height: 1.5rem;
	padding: 1rem;
	margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
    @include tablet{
        font-size: 0.85rem;
    }
    @include mobile {
        font-size: 0.64rem;
    }
}

/*NAV BAR BOOTSTRAP*/
.navbar-brand img {
    height: 120px;
    width: auto;
    border-radius: 100px;
    padding: .5rem; 
  }
  
/*ICONO LOGIN NAV*/
.login{
    height: 30px;
    width: auto;
    border-radius: 40px;
}

.input-log {
    padding: 12px;
    border: 0;
    text-align: center; 
}


/*MODAL*/  
/* Avatar*/
img.avatar {
    width: 70px;
    border-radius: 50%;
}

/*Contenido*/
.modal-content {
    width: 60%;
    border: 3px solid $white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background: -webkit-linear-gradient(right, $primary, $secondary); 
}    

input {
    background-color: rgba(136, 133, 133, 0.5);
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $white;
    width: 80%;
}

input::placeholder {
    color: $white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginbutton {
    background-color: $loginBtn;
    color: $white;
    padding: 14px 20px;
    margin: 6px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: auto; 
    &:hover {
        opacity: 0.8; 
    }
}

/*"Forgot password"*/
.psw {
    float: right;
    padding-top: 16px;
    color: $red;
    font-weight: bold;
    &:hover{
        color: black;
    }
}

/*Checkbox*/
input[type="checkbox"] {
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid $gray; }


/*MAIN*/
main {
	display: flex;
	padding: 1rem;
    
    section {
        flex: 1;
        padding: 1rem;
        margin: 1rem;
        @include tablet {    }
        @include mobile {    }
    }
    aside {
        flex: 100px;
        margin: 1.5rem;
        article img {
            max-width: 100%;
            height: auto;
            margin: 2rem;
        }
        @include tablet {
            flex: 50px;
        }
        @include mobile {
            display: none;
        }
    }    
}

/*Footer*/
footer {
    padding: 1rem;
    text-align: center;
	p {
        font-weight:bold;
        font-size: 20px;
        text-align: center;
        color: $white;
        text-shadow: 2px 2px 2px $black;
        padding-top: 1rem;
    }

    .mailto a {
        font-size: 20px;
        color: $white;
        text-shadow: 2px 2px 2px $black;
        padding-top: 1rem;
        &:hover {
            font-weight:bolder;
            color: $white;
            text-decoration: none;
        }
        @include tablet{
            font-size: 0.85rem;
        }
        @include mobile {
            font-size: 0.64rem;
        }
    }

    .redes {
        display: flex;
        align-items: center;
        padding: 2rem;
        justify-content:center;
    }

    .logoRedes {
        height: 50px;
        width: auto;
        @include tablet {
            height: 30px;
        }
        @include mobile {
            height: 20px;
        }
    }
}    
/*Cursos*/
img.izquierda, .derecha {    
	padding: 1rem;
	height: 200px;
	width: auto;
	border-radius: 30px;
}

img.izquierda {
	float: left;
}
  
img.derecha {
    float: right;
}

.cursos {
	padding: 2rem;
	margin: 2rem;
}

.lista {
	color: $black;
    line-height: 1.5rem;
    font-size: 1rem;
    @include tablet{
        font-size: 0.85rem;
    }
    @include mobile {
        font-size: 0.64rem;
    }
}

/*Tabla*/ 
table tr th, td    {
    color: $white;
    text-align: center;
}

/*imagen de a tabla*/
.imagenTabla {
	max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 2rem;
        @include tablet {
        max-width: 100%;
        }
        @include mobile {
        display: none;
        }
    }

/*Galeria*/
.gallery-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 300px;
    grid-gap: 10px;
    padding: 20px;
    @include tablet {grid-template-columns: repeat(2, 1fr)}
    @include mobile {grid-template-columns: repeat(1, 1fr)}
}
  
.gallery-img {
	width: 100%;
	height: 100%;
    object-fit: cover;
}   

.gallery-item:nth-child(2), :nth-child(4), :nth-child(5), :nth-child(13) {
    grid-column-start: span 2;
    @include tablet {grid-column-start: span 1}
    @include mobile {grid-column-start: span 1}
}

.gallery-item:nth-child(13) {
    grid-column-start: span 4;
    @include tablet {grid-column-start: span 2}
    @include mobile {grid-column-start: span 1}
}

.gallery-item:nth-child(6) {
    grid-row-start: span 2;
    @include tablet {grid-row-start: span 1}
    @include mobile {grid-row-start: span 1}
}

.gallery-item {
	filter: grayscale(80%);
}

.gallery-item:hover {
    filter: saturate(150%);
}

/*Formulario Contacto*/
.containerForm {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

#contact-section {
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100% ;
    padding-bottom: 2%;
       
    .containerForm h2 {
        text-align: center;
        text-decoration: underline;
        text-underline-position: under;
        color: $white;
        letter-spacing: 2px;
    }
    .containerForm p {
        text-align: center; 
        width: 70%; 
        margin-left: auto;
        margin-right: auto; 
        padding-bottom: 3%;
        color: $white;
        letter-spacing:3px;
    }    
}
.contact-form i.fa {
	font-size: 22px; 
	padding: 3%;
	background-color: none;
	border-radius: 80%;
	margin: 2%;
	border:2px solid rgb(190, 190, 190);
	color: $black;
}

.contact-form {
	display: grid;
    grid-template-columns: auto auto;
    @include tablet {
        display: block;
		width: 80%;
        text-align: left;
    }
}

.form-info {
	font-size: 1.3rem;
	font-style: italic;
	color: $white;
    letter-spacing: 2px;
    @include tablet{
        font-size: 0.85rem;
    }
    @include mobile {
        font-size: 0.64rem;
    }
}


input {
	padding: 10px;
	margin:10px;
	width: 70%;
	background-color:rgba(136, 133, 133, 0.5);
	color: $white;
	border: none;
    outline:none;
    &::placeholder {
        color: $white;
    }
    @include tablet{
        width: 100%;
    }
}

textarea {
	padding: 10px;
	margin: 10px;     
	width: 70%;
	background-color:rgba(136, 133, 133, 0.5);
	color: $white;
	border: none;
    outline:none;
    &::placeholder {
        color: $white;
    }
    @include tablet{
        width: 100%;
    }
}

.submit {
	width: 40%;
	background: none;
	padding: 4px;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 33px;
	text-align: center;
	cursor: pointer;
	letter-spacing: 2px;
	margin-left: 3%;
	border:2px solid rgb(190, 190, 190);
    color: $black;
    &:hover{
        border: 1px solid $white;
        color: $white;
        cursor: pointer;
    }
}

   